KAGGLE_USERNAME = "your_kaggle_username"
KAGGLE_API_TOKEN = "your_kaggle_api_token"

POSTGRES_PORT        = 6543
POSTGRES_USER        = airflow
POSTGRES_PASSWORD    = airflow
POSTGRES_DB          = airflow
POSTGRES_MULTIPLE_DB = dwh